:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.compo-title{
  color: tomato;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 25px;
  margin: 20px 0 20px 0;

}
.single-title{
  background-color: tomato;
  color: white;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 30px;
}
.id{
  font-size: 18px;
  font-weight: 500;
}
.color{
  color: white;
}
.title{
  font-size: 17px;
  font-weight: 400;
}
.info{
  font-size: 16px;
  color: tomato;
}
.action-btn{
  background-color: tomato;
  padding: 7px 10px;
  border: 2px solid tomato;
  color: white !important;
  font-weight: 500;
  border-radius: 8px;
  width: fit-content;
  margin: 0 auto;
  margin-top: 10px;
  transition: .3s;
}
.action-btn:hover{
  background-color: transparent;
  border: 2px solid tomato;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
p{
  color: white;
}

body {
  margin: 0;
  display: flex;
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
